<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sevgilimi çok seviyorum...</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="shortcut icon"
      href="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-256.png"
      type="image/png"
    />
  </head>
  <body>
    <div id="text-container"></div>
    <div id="video-container">
      <video id="video" controls>
        <source src="../dist/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
  <script src="../js/typewriter.js"></script>
</html>
