<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sevgilimi çok seviyorum...</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div id="text-container"></div>
    <div id="video-container">
      <!-- Video eklemek için uygun bir kaynak belirtin -->
      <video id="video" controls>
        <source src="../dist/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
  <script src="../js/typewriter.js"></script>
</html>
